{% extends 'public.html.twig' %}

{% block body %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="/images/avatar.png" />

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger"><b>Error!</b> {{ flash_message }}</div>
            {% endfor %}

            <form id="form-register" class="form-signin" method="POST" action="{{ path('register') }}">

                <input name="first_name"
                    type="text"
                    id="user_first_name"
                    name="user[first_name]"
                    class="form-control"
                    placeholder="First Name"
                    value="{{ first_name }}"
                    required
                    autofocus />
                <input name="last_name"
                    type="text"
                    id="user_last_name"
                    name="user[last_name]"
                    class="form-control"
                    placeholder="Last Name"
                    value="{{ last_name }}"
                    required />
                <input name="email"
                    type="email"
                    id="user_last_email"
                    name="user[email]"
                    class="form-control"
                    placeholder="Email"
                    value="{{ email }}"
                    required />

                {% include 'PTSUserRegistrationBundle:Public:partials/passwordInputFields.html.twig' %}

                <button id="register-submit" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" />Register</button>
            </form>
            <div class="pull-left">
                <a href="{{ path('login_route') }}" class="form-signin-link">
                    Login
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% include 'PTSUserRegistrationBundle:Public:partials/passwordValidationJavascript.html.twig' %}
{% endblock %}
