{% extends 'public.html.twig' %}

{% block body %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="/images/avatar.png" />

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger"><b>Error!</b> {{ flash_message }}</div>
            {% endfor %}

            <form class="form-signin" method="POST" action="#">
                <input name="_first_name"
                    type="text"
                    id="inputFirstName"
                    class="form-control"
                    placeholder="First Name"
                    value="{{first_name}}"
                    required
                    autofocus />
                <input name="_last_name"
                    type="text"
                    id="inputLastName"
                    class="form-control"
                    placeholder="Last Name"
                    value="{{ last_name }}"
                    required />
                <input name="_email"
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email"
                    value="{{ email }}"
                    required />

                <div id="password-inputs" class="form-group has-feedback">
                    <input name="_password"
                        type="password"
                        id="inputPassword"
                        class="form-control"
                        placeholder="Password"
                        required />
                    <div id="password-error" class="text-danger"></div>
                    <input name="_password2"
                        type="password"
                        id="inputPassword2"
                        class="form-control"
                        placeholder="Confirm Password"
                        required />
                </div>

                Password Strength:
                <div class="progress">
                    <div id="complexity-bar" class="progress-bar" role="progressbar">0%</div>
                </div>

                <button id="register-submit" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" disabled />Register</button>
            </form>
            <div class="pull-left">
                <a href="{{ path('login_route') }}" class="form-signin-link">
                    Login
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="/js/jquery.complexify.js"></script>
<script type="text/javascript">

(function($) {
    var passwordsMatch = false;
    var passwordsOK    = false;
    var passwordError  = $('#password-error');
    var passwordInputs = $('#password-inputs');
    var progressBar    = $('#complexity-bar');
    var registerButton = $('#register-submit');

    $('#inputPassword').complexify({}, function (valid, complexity) {
        progressBar.toggleClass('progress-bar-success', valid);
        progressBar.toggleClass('progress-bar-danger', !valid);
        progressBar.css({'width': complexity + '%'});
        progressBar.text(Math.round(complexity) + '%');

        passwordsOK = (Math.round(complexity) > 0);
    });

    $("#inputPassword").keyup(function()  { checkPassword(); });
    $("#inputPassword2").keyup(function() { checkPassword(); });

    function checkPassword() {
        if ($("#inputPassword").val() != $("#inputPassword2").val()) {
            passwordInputs.addClass('has-error').removeClass('has-success');
            passwordError.text('Error: Passwords do not match');
            passwordsMatch = false;
        } else {
            passwordError.text('');
            passwordInputs.addClass('has-success').removeClass('has-error');
            passwordsMatch = true;
        }

        if ((passwordsOK == true) && (passwordsMatch == true)) {
            registerButton.removeAttr('disabled');
        } else {
            registerButton.attr('disabled','disabled');
        }
    }

})(jQuery);

</script>
{% endblock %}
