{% extends 'public.html.twig' %}

{% form_theme form _self %}

{% block form_label %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="/images/avatar.png" />

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger"><b>Error!</b> {{ flash_message }}</div>
            {% endfor %}

            {{ form_errors(form) }}

            {{ form_start(form, { 'attr': {'class': 'form-signin'} }) }}

                {{ form_row(form.first_name, { 'attr': {'class': 'form-control', 'autofocus': true }}) }}
                {{ form_row(form.last_name, { 'attr': {'class': 'form-control' }}) }}
                {{ form_row(form.email, { 'attr': {'class': 'form-control' }}) }}

                {% include 'PTSUserRegistrationBundle:Public:partials/passwordInputFields.html.twig' %}

                <button id="register-submit" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" />Register</button>

            {{ form_end(form) }}

            <div class="pull-left">
                <a href="{{ path('login_route') }}" class="form-signin-link">
                    Login
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% include 'PTSUserRegistrationBundle:Public:partials/passwordValidationJavascript.html.twig' %}
{% endblock %}
